p, h1, h2, h3, img {
  /* top right bottom left */
  padding: 0px 50px 20px 50px;
  text-align: left;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: auto;
  text-align: left;
}

p + p {
  text-indent: 2.5em;
}

p:first-letter {
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 400;
  float: left;
  margin: 0 0.107em 0 0;
}

p:first-line {
  font-weight: 800;
  padding: 20px 100px 20px 100px;
}

p + p:first-letter {
  font-size: 1em;
  line-height: 1.25em;
  float: none;
  margin: 0;
}

p + p:first-line {
  font-weight: 400;
  padding: 20px 100px 20px 100px;
}

/* Markdown table styles */
th {
  padding: 0px 30px 10px 0px;
}

td {
  padding: 0px 30px 10px 0px;
}

table {

  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
/*    table tr:nth-child(2n) {
      background-color: #f8f8f8; }*/
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
